# On any change to the website here, push it to the campbelllustblackwell.github.io site to confirm.

name: auto_push_to_github_io

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@cp_instead_of_deleting
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'website'
          destination-github-username: 'robertlugg'
          destination-repository-name: 'campbellluggblackwell.github.io'
          user-email: robert.lugg@gmail.com
          commit-message: Cloning website
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
