name: from_bluehost_to_github

on:
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '*/30 * * * *'
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

env:
  BLUEHOST_USERNAME: ${{ secrets.BLUEHOST_USERNAME }}
  BLUEHOST_PASSWORD: ${{ secrets.BLUEHOST_PASSWORD }}
jobs:
  from_bluehost_to_github:
    runs-on: ubuntu-latest
    steps:
      - name: Setup git user
        run: |
             git config --global user.email robert.lugg@gmail.com
             git config --global user.name robertlugg

      - name: Clone campbellluggblackwell.com which is source in /website
        run: |
             echo "GITHUB_REF = $GITHUB_REF"
             export BRANCH=`cut -d/ -f3 <<< $GITHUB_REF`
             echo "BRANCH = $BRANCH"
             git clone --single-branch --branch ${BRANCH} https://${{ secrets.API_TOKEN_GITHUB }}@github.com/campbellluggblackwell/campbellluggblackwell.com.git source

      - name: Get Bluehost files
        run: |
            sudo apt install -y expect
            cd ./source/website/
            chmod +x ../.github/workflows/ftp_expect_script
            env
            # ../.github/workflows/ftp_expect_script
            # git commit
            
      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Setup tmate session (if debug was enabled)
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
            

      
