name: from_bluehost_to_github

on:
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '*/30 * * * *'
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  from_bluehost_to_github:
    runs-on: ubuntu-latest
    steps:
      - name: Setup git user
        run: |
             git config --global user.email robert.lugg@gmail.com
             git config --global user.name robertlugg

      - name: eles
        run: |
              echo "I did it!"
              echo "${{ secrets.BLUEHOST_USERNAME }}" > foo.txt
              cat << EOF > ftp_download
              #!/usr/bin/expect
              spawn ftp ftp.campbellluggblackwell.com
              expect "Name (ftp.campbellluggblackwell.com:runner):"
              send "rmlugg@campbellluggblackwell.com\r"
              expect "Password:"
              send "3\r"
              expect "ftp>"
              send "cd public_html\r"
              expect "ftp>"
              send "mget * .\r"
              expect "ftp>"
              send "bye\r"
              EOF
              chmod +x ftp_download
              

      - name: Clone campbellluggblackwell.com which is source in /website
        run: |
             echo "GITHUB_REF = $GITHUB_REF"
             export BRANCH=`cut -d/ -f3 <<< $GITHUB_REF`
             echo "BRANCH = $BRANCH"
             git clone --single-branch --branch ${BRANCH} https://${{ secrets.API_TOKEN_GITHUB }}@github.com/campbellluggblackwell/campbellluggblackwell.com.git source

      - name: Setup tmate session (for debugging)
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      
