name: from_bluehost_to_github

on:
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '*/30 * * * *'
  workflow_dispatch:
    # inputs:
    #   debug_enabled:
    #     type: boolean
    #     description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
    #     required: false
    #     default: false


jobs:
  from_bluehost_to_github:
    runs-on: ubuntu-latest
    env:
      BLUEHOST_USERNAME: ${{ secrets.BLUEHOST_USERNAME }}
      BLUEHOST_PASSWORD: ${{ secrets.BLUEHOST_PASSWORD }}
    steps:
      - name: Set up environment
        run: |
             git config --global user.email robert.lugg@gmail.com
             git config --global user.name robertlugg
             
             sudo apt install -y expect        

      - name: Clone campbellluggblackwell.com from github to ./source
        run: |
             echo "GITHUB_REF = $GITHUB_REF"
             git clone --single-branch --branch main https://${{ secrets.API_TOKEN_GITHUB }}@github.com/campbellluggblackwell/campbellluggblackwell.com.git main
             git clone --single-branch --branch incoming https://${{ secrets.API_TOKEN_GITHUB }}@github.com/campbellluggblackwell/campbellluggblackwell.com.git incoming

      - name: foo
        run: |
           ls
           ls -halt main
           echo "main/.github"
           ls -halt main/.github
           echo "workflows..."
           ls -halt main/.github/workflows
           echo "scr"
           ls main/.github/workflows/rsync_expect_script
           
      - name: Setup tmate session (if debug was enabled)
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        
      - name: Get Bluehost files
        timeout-minutes: 10
        run: |
            ls
            chmod +x main/.github/workflows/rsync_expect_script
            . main/.github/workflows/rsync_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD
            # set -f
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.png
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.jpg
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.jpeg
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.css
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.js
            # ../.github/workflows/ftp_expect_script $BLUEHOST_USERNAME $BLUEHOST_PASSWORD *.html
      - name: Commit and push bluehost files to github
        run: |
            cd ./source/website/
            # git add --all
            # git commit -am "Automatic upload from action from_bluehost_to_github.yml"
            # git push || true
            

            

      
